<ul class="books books_grid">
  <% books.each do |book| %><li class="<%= book.available? ? "available" : "unavailable" %>"><%= link_to device_path(book) do %><%= device_image_tag(book) %><% end %></li><% end %>
</ul>
